nav {
    background-color: black;
    text-decoration: none;
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
}

.header-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

a {
    text-decoration: none;
    color: rgb(123, 183, 235);
}

body {
    background-color: #ccc;
    margin: 0;
}

.page {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-left: 20px;
}

.grp-stage-h2 {

    text-align: center;
}

.group-stage {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;

}

.bracket-view {
    display: flex;
    flex-direction: row;
    gap: 50px;
    text-align: center;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-bottom: 50px;
}

.team-score {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 3px;

}

.bracket {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    gap: 10px;
}

.match {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 200px;
    height: 70px;
    background-color: azure;
    cursor: pointer;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
}

.match:hover {
    background-color: rgb(164, 164, 164);
}

.date {
    text-align: center;
}

.qf {
    display: flex;
    flex-direction: column;
    gap: 45px;
}

.qf-bracket {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 90px;
}

.sf {
    display: flex;
    flex-direction: column;
    gap: 130px;
}

.sf-bracket {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 250px;
}

.f-bracket {
    display: flex;
    flex-direction: column;
    margin-top: 310px;
}

.match-info {
    text-align: center;
}

.teams-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;

}

.players-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0;
}

.field {
    height: 400px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
}




.team-click {
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.3);
    border: none;
    height: 50px;
    width: 200px;
    font-size: 20px;
    border-radius: 15px;
    cursor: pointer;
}

.team-click:hover {
    background-color: rgb(164, 164, 164);
}

.match-details-team {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.score-details {
    font-size: 50px;
} 
@media only screen and (max-width: 600px) {
    .match-details-team {
        flex-direction: column;
    }
}